@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #e50df2;
  --blue: #546DDA;

  --background: #ebd05b;
  --secondary: var(--blue);
  --foreground: #1f1f1f;
}

@font-face {
  font-family: "eyesome";
  src: url("../assets/fonts/eyesome-duo-script/eyesome-duo-script.otf");
}

@font-face {
  font-family: "cinzel";
  src: url("../assets/fonts/cinzel/Cinzel-VariableFont_wght.ttf");
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .base-margin {
    @apply mx-8;
  }

  .page-auto-margin {
    @apply max-w-6xl mx-auto;
  }

  .section-bottom-margin {
    @apply mb-8;
  }

  h1,
  .h1 {
    @apply text-center text-5xl;
  }

  h2,
  .h2 {
    @apply text-center text-2xl;
  }
}
